body{
    background-color:#f9f7fe;
    font-family: "Roboto Slab", serif;
    

}
header{
    border-bottom:1px solid #f9f7fe;
    padding:30px 0 0 0;
}
.container{
    background:white;
    max-width:600px;
    margin:30px auto;
    box-shadow:0 30px 50px rgba(65. 30, 200,0.08);
    border-radius:16px;
    padding:30px;


}
.enter-city{
    background-color:#f9f7fe;
    border:none;
    border-radius:8px;
    width:80%;
    padding: 15px 200px;
    font-size:16px;
    color:rgba(39, 33, 66, 0.4);

}
.search-button{
    background:#885df1;
    padding:15px 20px;
    border:none;
    color:white;
    border-radius:8px;
    margin-left:5px;


}
main{
    padding:30px 0;
}
.city{
    margin:0;
    font-size:38px;
    line-height:48px;

}
.weather-forcast{
    font-size:16px;
    color:rgba(39,33,66,0.43);
    line-height :24px;
    font-weight: 500;
    display :flex;
}
strong{
    color:red;
}
.weather-forcast-container{
    display: flex;
    justify-content: flex-end;
    margin-top:-100px;
   
}
.weather-number{
    font-size:88px;
  
    font-weight:bold;
    line-height:88px;
 
}
.weather-icon{
    font-size:44px;
   

}
.weather-unit{
    margin-top:8px;
    font-size:35px;
  
}
footer{
    border-top:1 px solid ;
    padding:30px 0 0 0 ;
    text-align:center;
    font-size:14px;
    color:rgba(0,0,0,0.5);
    font-family: "Roboto Slab", serif;


}